<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <parameter name = "browser" value = "chrome"/>
  <listeners>
  		<listener class-name = "com.ds.utilities.ListernerSetup"/>
  		<listener class-name = "com.ds.utilities.ExtentReporterNG"/>
  </listeners>
  
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.ds.testLayer.LoginPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
